.container{
    width: 100%;
    padding: 1rem 4rem;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5rem;
}
.ForkAndKnife{
    filter: invert(100%);
}
.logo{
    width: 10rem;
}
.sliderTitle{
    font-size: 25px;
}
@media only screen and (max-width : 750px){
    .logo{
        width: 5rem;
    }
    .ForkAndKnife{
        width: 15px;
    }
    .sliderTitle{
        font-size: 22px;
        text-align: center;
    }

}
@media only screen and (max-width : 450px){
    .logo{
        width: 10rem;
    }
    .ForkAndKnife{
        width: 50px;
    }
}