.container{
    min-width: 100vw;
    min-height: 100vh;
    /* background-image: url("../imgs/background.png");*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-clip: border-box;
    display: flex;
}
.sideBar{
    background-color: #252525;
    position: relative;
    top: 0;
    left: 0;
    min-width: 4rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sideBarIcons{
    color: white;
    font-size: 34px;
    transition: .3s ease-in-out;
    cursor: pointer;
}
.sideBarIcons:hover{
    color: #cecece;
}
.verticalFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sideBarIconImg{
    width: 34px;
}

@media only screen and (max-width : 750px){
    .sideBar{
       display: none;
    }
    .sideBarIcons{
        font-size: 14px;
    }
    .sideBarIconImg{
        width: 14px;
    }
}